@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply p-0 m-0 !w-full !max-w-full;
}

.myContainer {
  @apply md:px-14 px-4 mx-auto lg:px-24;
}
.active-link {
  @apply !border-b-primary border-b-2  !text-primary bg-slate-300 p-2;
}

.main__card:hover .card_img {
  @apply !brightness-[0.3] !duration-700 z-[0];
}
.main__card:hover .card__buttons {
  @apply flex;
}
