@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply p-0 m-0 !w-full !max-w-full;
}

.myContainer {
  @apply md:px-16 px-4 mx-auto lg:px-24 xl:px-32;
}
.active-link {
  @apply !border-b-black border-b-2  !text-black;
}

/* .main__card:hover .card_img {
  @apply !brightness-[0.8] !duration-700 z-[0] !overflow-hidden;
}
.main__card:hover > .card_img {
  @apply !duration-700  !origin-center !rotate-12 !scale-110 !overflow-hidden;
} */

.main__card:hover .card_img {
  @apply !brightness-[0.8] !duration-700 z-[0] !overflow-hidden;
}

.main__card:hover .card__img-image {
  @apply !duration-700 !origin-center !rotate-[8deg] !scale-110;
}
.main__card:hover .card__buttons {
  @apply flex;
}

/* .navbar__desktop__categories:hover + .categories__dropdown-navbar,
.navbar__desktop__categories:focus-within + .categories__dropdown-navbar {
  display: block !important;
} */

.navbar__desktop__categories:hover ~ .categories__dropdown-navbar,
.navbar__desktop__categories:focus-within ~ .categories__dropdown-navbar,
.categories__dropdown-navbar:hover {
  @apply !block z-50;
}

/* .navbar__desktop__categories:hover + .categories__dropdown-navbar {
  display: block !important;
} */
